@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+DE+VA+Guides&family=Playwrite+VN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar {
    width: 100%;
    background-color: transparent;
    padding: 10px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.navbar h1 {
    /* color: #18b082 !important; */
    font-size: 35px;
    font-weight: 600;
    color: white !important;
    text-shadow: 0 0 8px rgba(0, 0, 0, 1) !important;
}

.navbar a {
    color: black;
    font-size: 19px;
    font-weight: 500;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 10px;
}

.navbar a.active {
    background-color: #dde3e3;
    padding: 9px 30px;
    border-radius: 10px;
}

/* .navbar1 h1{
    padding: 7px 8px;
    font-weight: 600;
} */
.navbar-brand img {
    width: 35px;
}


.container-item {
    width: 100%;
    padding: 10px;
}

.container-item ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.container-item ul a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    border-bottom: 2px solid black;
    color: white;
    text-shadow: 0 0 8px rgba(0, 0, 0, 1) !important;
}



.box {
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow-y: auto;
    /* Enables scrolling */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer & Edge */
}

.box-head {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin: 4px 0;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 16px rgba(0, 0, 0, 1) !important;
}

.box-body {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    color: white;
    text-shadow: 0 0 8px rgba(0, 0, 0, 1) !important;
}

.box-body h1 {
    font-size: 30px;
    font-weight: 500;

}

.box-item {
    margin: 10px 0;
    /* background-color: #ecf0f1;
    color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-radius: 30px;


    background: rgba(0, 0, 0, 0.5);
    /* semi-transparent background */
    backdrop-filter: blur(4px);
    /* actual background blur */
    -webkit-backdrop-filter: blur(7px);
    /* Safari support */
    color: white;

}

.box-item h3 {
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
}

.box-item p {
    border-bottom: 2px solid #009E6E;
    font-size: 20px;
}

a {
    text-decoration: none;
}


.user-card {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-details {
    cursor: pointer;
    width: 50%;
    padding: 20px;
    border-radius: 16px;

    background: rgba(0, 0, 0, 0.4);
    /* semi-transparent background */
    backdrop-filter: blur(4px);
    /* actual background blur */
    -webkit-backdrop-filter: blur(7px);
    /* Safari support */



    color: white !important;
    text-shadow: 0 0 8px rgba(0, 0, 0, 1) !important;
    /* strong glow around text */

    /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.9); */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: 8px;
}

td {
    font-size: 24px;
    font-weight: 500;
}

th {
    font-size: 24px;
    font-weight: 450;
}

th.gold {
  color: yellow;

}

span {
    font-size: 19px;
    font-weight: 600;
    color: gold;
    text-shadow: 0 0 8px rgba(0, 0, 0, 1);
}


.home {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(/rmkfront2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: hidden;
    /* Keeps background fixed */
}

/* 
.main{
    width: 100%;
    height: 85vh;
    background-color: green;
} */


.main .row {
    padding: 10px;
    border-radius: 16px;
    color: white;

    background: rgba(0, 0, 0, 0.4);
    /* semi-transparent background */
    backdrop-filter: blur(4px);
    /* actual background blur */
    -webkit-backdrop-filter: blur(7px);
    /* Safari support */
}

.main h1:nth-child(1) {
    font-size: 40px;
    font-weight: 600;
    color: #009E6E !important;
}

.main h1,
p {
    text-shadow: 0 0 8px rgba(0, 0, 0, 1);
}

.main .btn {
    border: none;
    outline: none;
    color: white !important;
    background-color: #009E6E;
}

.img {
    border-radius: 16px;
    height: 500px;
    background: url(/rmkfront12.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .box-head {
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        margin: 4px 0;
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 16px rgba(0, 0, 0, 1) !important;
    }

    .box-body h1 {
        font-size: 25px;
        font-weight: 500;

    }

    .box-item h3 {
        font-size: 15px;
        font-weight: 400;
        text-decoration: none;
    }

    .box-item p {
        border-bottom: 2px solid #009E6E;
        font-size: 14px;
    }


    .user-details {
        cursor: pointer;
        width: 100%;
        padding: 10px;
        border-radius: 16px;

        background: rgba(0, 0, 0, 0.4);
        /* semi-transparent background */
        backdrop-filter: blur(4px);
        /* actual background blur */
        -webkit-backdrop-filter: blur(7px);
        /* Safari support */



        color: white !important;
        text-shadow: 0 0 8px rgba(0, 0, 0, 1) !important;
        /* strong glow around text */

        /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.9); */
    }

    .main h1:nth-child(1) {
        font-size: 33px;
    }

    .img {
        height: 300px;
    }
}

.login-page{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    color: white;
    padding: 30px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.4);
        /* semi-transparent background */
        backdrop-filter: blur(4px);
        /* actual background blur */
        -webkit-backdrop-filter: blur(7px);
}
